<?xml version="1.0"?>
<!--
/**
 * HiPay Fullservice Magento - Hyvä Checkout
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Apache 2.0 Licence
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * @copyright Copyright (c) 2024 - HiPay
 * @license   http://www.apache.org/licenses/LICENSE-2.0 Apache 2.0 Licence
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="HiPay\FullserviceMagento\Model\Method\Mbway"
                type="HiPay\FullserviceHyvaCheckout\Model\Method\Mbway"/>
    <preference for="HiPay\FullserviceMagento\Model\Method\MbwayHostedFields"
                type="HiPay\FullserviceHyvaCheckout\Model\Method\MbwayHostedFields"/>
    <preference for="HiPay\FullserviceMagento\Controller\Redirect\Cancel"
                type="HiPay\FullserviceHyvaCheckout\Controller\Redirect\Cancel"/>
    <type name="HiPay\FullserviceHyvaCheckout\Controller\Redirect\Cancel">
        <arguments>
            <argument name="cart" xsi:type="object">Magento\Checkout\Model\Cart\Proxy</argument>
        </arguments>
    </type>

    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-magento2-checkout-hipay" xsi:type="array">
                    <item name="original_module" xsi:type="string">HiPay_FullserviceMagento</item>
                    <item name="compat_module" xsi:type="string">HiPay_FullserviceHyvaCheckout</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="hipay_hosted" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceCcOrderService
                </item>
                <item name="hipay_hosted_fields" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_applepay" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_paypalapi" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_alma3X" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_alma4X" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_ideal" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_multibanco" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceIframeOrderService
                </item>
                <item name="hipay_ideal_hosted_fields" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_bancontact_hosted_fields" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_multibanco_hosted_fields" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_mbway" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_przelewy24api" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="hipay_mbway_hosted_fields" xsi:type="object">
                    HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
            </argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceHyvaCheckout\Magewire\ApplePayMethod">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceHyvaCheckout\Magewire\CardMethod">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceHyvaCheckout\Model\Magewire\Payment\PlaceCcOrderService">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceHyvaCheckout\Magewire\PayPalMethod">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceHyvaCheckout\Magewire\HostedFieldsLocalMethod">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Hyva\Checkout\Magewire\Checkout\Payment\MethodList">
        <plugin name="hipay_hyva_payment_methodlist_extra_listeners"
                type="HiPay\FullserviceHyvaCheckout\Plugin\Hyva\PaymentMethodListPlugin"/>
    </type>
</config>
